body{
    background-image: url("https://img.freepik.com/premium-photo/fantasy-sky-rainbow-fairy-skies-rainbows-colors-magic-landscape-dream-sky-generate-ai_740533-8530.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}