#drop{
    background-image: url("https://i.pinimg.com/736x/10/75/5a/10755ac4ba475bcc234f62e79b86a0f1.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}
#clock{
    color: pink;
    font-size: 30px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin: 5px;
}
.menuButton{
    background-color: white;
    border-radius: 25px;
    padding: 5px;
    border: none;
    margin: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    visibility: hidden; 
}
#menu{
    background-color:pink;
    text-align: center;
    color: hotpink;
    font-size: 20px;
    height:60px;
    width: 80px;
    border-radius: 25%;
    margin-top: 2px;
    top: 32px;
    left: 5px;
    position: absolute;
    transition-timing-function: ease-out;

}
#menu:hover{
 height: 200px;
 width: 100px;
}
.feelStyle {
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: lightpink;
    

}
#title{
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px;
    color: lightpink;
    text-align: center;
    background-color: white;
}